// COLOR PALETTE
// $yellow:#ffd700;
$yellow: #e1f417;
$dark-grey: #333333;
$light-grey: #cccccc;

//failure
$red: #ff3b30;
//success
$green: #4caf50;
//warning
$orange: #ffa726;
//info
$blue: #29b6f6;

// $bg: #ffffff;
// $screen: #1414143b;
// $txt: #808080;
// $white: #ffffff;
// $white-opc: #ffffff33;
// $black: #000000;
// $tool: #595959;
// $header: #101010;
// $txt: #f8f9fa;

// $brand: #06aed3;
// $brand-opc: #1c9fbc28;
// $brand-light: lighten($brand, 15%);

// $c1: #04c4d9;
// $c2: #f2e205;
// $c3: #f2b84b;
// $c4: #f26a4b;
// $c5: #f20505;

// $g1: #999999;
// $g2: #777777;
// $g3: #555555;
// $g4: #333333;
// $g4-opc: #33333330;

// $failure: #fa3e3e;
// $success: #23c552;

// $shadow: 2px 2px 3px $g4-opc;
// $shadow-bottom: 0px 3px 7px $g4-opc;
// $shadow-movie: 3px 3px 5px $g4-opc;
// $shadow-active: inset 3px 3px 5px $g4-opc;
// $shadow-rtl: -5px 0px 7px $g4-opc;
